$point-color: #f37420;
$point-color2: #007aff;

@mixin h3-title {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
}

@mixin product-list($width, $width2) {
  width: $width;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
      width: $width2;
      img {
          display: inline-block;
          width: 100%;
      }
      .info {
          font-size: 12px;
          height: 14px;
          overflow: hidden;
          margin: 20px 0 5px;
          color: #999999;
      }
      .title {
          height: 40px;
      }
      .cost {
          font-weight: 600;
          font-size: 18px;
          color: #333333;
          margin: 8px 0;
          .sale {
              color: $point-color;
          }
          .original {
              font-size: 14px;
              text-decoration: line-through;
          }
          
      }
      .review {
        position: relative;
        span {
            display: inline-block;
            vertical-align: middle;
            width: 72px;
            height: 14px;
            margin-left: 10px;
            background: url('../img/pc_ico_dawn_txt.png') 0 0 no-repeat;
            background-size: 72px;
            text-indent: -9999px;
            overflow: hidden;
        }
      }
      .btn {
          font-size: 12px;
          color: #ffffff;
          padding: 3px 8px;
          margin-top: 8px;
          &.new {
              background-color: $point-color2;
          }
          &.best {
              background-color: $point-color;
          }
      }

  }
}