@charset "UTF-8";
.container {
  position: relative;
  width: 100%;
}

.login-modal-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  z-index: 9999;
}
.login-modal-wrap.on {
  opacity: 1;
  visibility: visible;
}
.login-modal-wrap .login-modal {
  position: relative;
  width: 1000px;
  background-color: #f4f4f4;
  padding: 80px 30px 30px;
}
.login-modal-wrap .login-modal .login-box {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 50px;
}
.login-modal-wrap .login-modal .login-box > div {
  width: 50%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.login-modal-wrap .login-modal .login-box > div h3 {
  text-align: center;
  font-size: 26px;
  color: #333333;
  margin-bottom: 30px;
}
.login-modal-wrap .login-modal .login-box > div label {
  font-size: 14px;
  color: #333333;
  font-weight: 600;
}
.login-modal-wrap .login-modal .login-box > div input {
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  border: 1px solid #dddddd;
  margin: 10px 0 20px;
  padding: 0 10px;
  outline: none;
}
.login-modal-wrap .login-modal .login-box > div form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.login-modal-wrap .login-modal .login-box > div .btn {
  width: 100%;
  height: 50px;
  padding: 0 53px;
  line-height: 50px;
  font-weight: 600;
  color: #000000;
  border: 1px solid #000000;
}
.login-modal-wrap .login-modal .login-box > div .btn.dark {
  background-color: #000000;
  color: #ffffff;
}
.login-modal-wrap .login-modal .login-box > div .btn.sign-up {
  position: relative;
  margin-top: 10px;
}
.login-modal-wrap .login-modal .login-box > div .btn.sign-up::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-right: 2px solid transparent;
  border-bottom: 12px solid #f37420;
  border-left: 10px solid transparent;
  margin-left: 8px;
}
.login-modal-wrap .login-modal .login-box > div .btn.sign-up::after {
  content: "최대 16,000원 쿠폰팩";
  width: 136px;
  height: 25px;
  line-height: 25px;
  background-color: #f37420;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.05em;
  border-radius: 5px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.login-modal-wrap .login-modal .login-box .login-wrap {
  border-right: 1px solid #dddddd;
  position: relative;
}
.login-modal-wrap .login-modal .login-box .login-wrap .id-pw {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 30px;
}
.login-modal-wrap .login-modal .login-box .login-wrap .id-pw .check-box {
  display: flex;
  align-items: center;
}
.login-modal-wrap .login-modal .login-box .login-wrap .id-pw .check-box input {
  margin: 0;
  margin-right: 5px;
  height: auto;
}
.login-modal-wrap .login-modal .login-box .login-wrap .id-pw .check-box label {
  color: #666666;
  font-weight: 400;
}
.login-modal-wrap .login-modal .login-box .login-wrap .id-pw a {
  font-size: 14px;
}
.login-modal-wrap .login-modal .login-box .login-wrap .sns-login {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.login-modal-wrap .login-modal .login-box .login-wrap .sns-login button {
  width: 70px;
}
.login-modal-wrap .login-modal .login-box .login-wrap .sns-login button:first-child {
  margin-right: 20px;
}
.login-modal-wrap .login-modal .login-box .login-wrap .sns-login button img {
  width: 90%;
}
.login-modal-wrap .login-modal .login-box .login-wrap .sns-login button span {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.1em;
}
.login-modal-wrap .login-modal .login-box .nonMember-wrap .number-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-modal-wrap .login-modal .login-box .nonMember-wrap .number-box select {
  width: 31%;
  height: 44px;
  border: 1px solid #dddddd;
  margin: 10px 0 20px;
  outline: none;
}
.login-modal-wrap .login-modal .login-box .nonMember-wrap .number-box input {
  width: 31%;
}
.login-modal-wrap .login-modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
}
.login-modal-wrap .login-modal .close img {
  width: 100%;
}

.happy-talk {
  position: fixed;
  bottom: 135px;
  right: 40px;
  width: 45px;
  height: 45px;
  background: url("../img/happytalk.gif") no-repeat center/contain;
  background-color: #2c55dd;
  z-index: 999;
}

.happy-talk-area {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 200px;
  right: 40px;
  width: 500px;
  height: 650px;
  border-radius: 20px;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  z-index: 999;
}
.happy-talk-area.on {
  opacity: 1;
  visibility: visible;
}
.happy-talk-area .title {
  position: relative;
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c55dd;
}
.happy-talk-area .title .txt h5 {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.happy-talk-area .title .txt p {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
}
.happy-talk-area .title .close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.happy-talk-area .title .close i {
  font-size: 20px;
  color: #ffffff;
}
.happy-talk-area .contents {
  width: 100%;
  height: 83%;
  background-color: #ffffff;
}
.happy-talk-area .contents .center {
  padding: 20px 0 0 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.happy-talk-area .contents .center .center-profile {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.happy-talk-area .contents .center .center-profile .center-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.happy-talk-area .contents .center .center-profile .center-name {
  color: #000000;
  font-size: 14px;
}
.happy-talk-area .contents .center .center-talk {
  margin-top: 10px;
  width: 70%;
  height: 120px;
  background-color: #eef1f4;
  border-radius: 20px;
  border-top-left-radius: 0;
  padding: 15px;
}
.happy-talk-area .contents .center .center-talk p {
  color: #000000;
  font-size: 14px;
  line-height: 1.5;
}
.happy-talk-area .footer {
  width: 100%;
  height: 6%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.happy-talk-area .footer p {
  font-size: 10px;
  letter-spacing: normal;
  color: #999999;
}
.happy-talk-area .footer p strong {
  margin-left: 5px;
}

.top-btn {
  position: fixed;
  bottom: 80px;
  right: 40px;
  width: 45px;
  height: 45px;
  background-color: #8b8b8b;
  border-radius: 50%;
  z-index: 999;
}
.top-btn i {
  color: #ffffff;
  font-size: 22px;
}

.header-wrap {
  width: 100%;
}
.header-wrap .header-top {
  width: 100%;
  height: 40px;
  background-color: #000000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-wrap .header-top .util-area {
  margin-right: 30px;
}
.header-wrap .header-top .util-area li {
  position: relative;
  float: left;
  margin-right: 20px;
}
.header-wrap .header-top .util-area li.sign-up::after {
  content: "최대 1만원 할인";
  padding-top: 12px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 20px;
  left: -25px;
  width: 100px;
  height: 50px;
  background: url("../img/join_point.png") no-repeat;
}
.header-wrap .header-top .util-area li.cart a::after {
  content: "2";
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f37420;
  cursor: pointer;
}
.header-wrap .header-top .util-area li a {
  font-size: 14px;
  color: #dedede;
}
.header-wrap .header-top .util-area li i {
  font-size: 16px;
  color: #dedede;
  background-color: none;
}
.header-wrap .header-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 102px;
  padding: 0 30px;
  background-color: #ffffff;
}
.header-wrap .header-middle h1 img {
  width: auto;
  height: 36px;
}
.header-wrap .header-middle .search-area {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 44%;
}
.header-wrap .header-middle .search-area .search-form {
  width: 40%;
  min-width: 240px;
}
.header-wrap .header-middle .search-area .search-form .search-input {
  width: 90%;
  padding: 8px;
  padding-left: 20px;
  border: none;
  background-color: #eeeeee;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.header-wrap .header-middle .search-area .search-form .search-input::-moz-placeholder {
  font-size: 14px;
}
.header-wrap .header-middle .search-area .search-form .search-input:-ms-input-placeholder {
  font-size: 14px;
}
.header-wrap .header-middle .search-area .search-form .search-input::placeholder {
  font-size: 14px;
}
.header-wrap .header-middle .search-area .search-form .search-btn {
  width: 8%;
  padding: 8px 0;
  padding-right: 25px;
  margin-left: -5px;
  background-color: #eeeeee;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.header-wrap .header-middle .search-area .search-tag {
  min-width: 370px;
}
.header-wrap .header-middle .search-area .search-tag li {
  float: left;
  padding: 8px;
  margin-left: 3%;
  border: 1px solid #333333;
  border-radius: 30px;
  font-size: 14px;
  background-color: #ffffff;
}
.header-wrap .header-middle .search-area .search-tag a {
  color: #333333;
}
.header-wrap .header-middle .search-area .m-menu {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.header-wrap .header-middle .search-area .m-menu li {
  position: relative;
  float: left;
  margin-left: 25px;
}
.header-wrap .header-middle .search-area .m-menu li a i {
  font-size: 20px;
}
.header-wrap .header-middle .search-area .m-menu li.cart {
  margin-right: 5px;
}
.header-wrap .header-middle .search-area .m-menu li.cart a::after {
  content: "2";
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f37420;
  cursor: pointer;
}
.header-wrap .header-bottom {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-sizing: border-box;
}
.header-wrap .header-bottom.on {
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid #dddddd;
}
.header-wrap .header-bottom nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.header-wrap .header-bottom nav .main-nav {
  position: relative;
  flex-shrink: 0;
  margin-right: 30px;
}
.header-wrap .header-bottom nav .main-nav:first-child {
  padding-left: 15px;
}
.header-wrap .header-bottom nav .main-nav:not(:first-child)::after {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  background-color: #999999;
}
.header-wrap .header-bottom nav .main-nav > li {
  float: left;
}
.header-wrap .header-bottom nav .main-nav > li > a {
  display: inline-block;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  font-size: 1rem;
  color: #333333;
  font-weight: 600;
}
.header-wrap .header-bottom nav .main-nav > li > a .menu-btn {
  margin-right: 15px;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 60px;
  background-color: #ffffff;
  z-index: 99;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav.all {
  left: 0;
  width: 200px;
  height: 25vw;
  min-height: 360px;
  padding-top: 30px;
  background-color: #1e1e1e;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav.all a {
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  padding: 8px 50px 8px 30px;
  transition: all 0.3s;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav.all a:hover {
  background-color: #ffffff;
  color: #1e1e1e;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav.event {
  left: -15px;
  width: 220px;
  height: 230px;
  padding: 30px 0 0 20px;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav.event a {
  display: inline-block;
  width: 90%;
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
  font-size: 14px;
  color: #333333;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav.event a:hover {
  font-weight: 600;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: -15px;
  width: 890px;
  height: 425px;
  background-color: #ffffff;
  display: flex;
  padding: 30px 30px 0 30px;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-nav {
  width: 25%;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-nav h2 {
  color: #333333;
  font-size: 28px;
  margin-bottom: 20px;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-nav li a {
  display: inline-block;
  width: 80%;
  padding: 8px 20px 8px 0;
  border-bottom: 1px solid #dedede;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-nav li a:hover {
  color: #f37420;
  font-weight: 600;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list {
  width: 75%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li {
  width: 30%;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li img {
  display: inline-block;
  width: 100%;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .info {
  font-size: 12px;
  height: 14px;
  overflow: hidden;
  margin: 20px 0 5px;
  color: #999999;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .title {
  height: 40px;
  overflow: hidden;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .cost {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  margin: 8px 0;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .cost .sale {
  color: #f37420;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .cost .original {
  font-size: 14px;
  text-decoration: line-through;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .review {
  position: relative;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .review span {
  display: inline-block;
  vertical-align: middle;
  width: 72px;
  height: 14px;
  margin-left: 10px;
  background: url("../img/pc_ico_dawn_txt.png") 0 0 no-repeat;
  background-size: 72px;
  text-indent: -9999px;
  overflow: hidden;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .btn {
  font-size: 12px;
  color: #ffffff;
  padding: 3px 8px;
  margin-top: 8px;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .btn.new {
  background-color: #007aff;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .btn.best {
  background-color: #f37420;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area .sub-list li .btn.gift {
  background-color: #d477c8;
}
.header-wrap .header-bottom nav .main-nav > li > .sub-nav-area.show {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}
.header-wrap .header-bottom nav .main-nav > li:hover .sub-nav {
  opacity: 1;
  visibility: visible;
}
.header-wrap .header-bottom .m-nav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}
.header-wrap .header-bottom .m-nav ul li {
  float: left;
}
.header-wrap .header-bottom .m-nav ul li a {
  display: inline-block;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  font-size: 1rem;
  color: #333333;
  font-weight: 600;
}
.header-wrap .header-bottom .m-nav ul li.on a {
  color: #f37420;
}

.main-wrap {
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
  overflow: hidden;
}
.main-wrap .main-img-wrap {
  width: 600%;
  display: flex;
}
.main-wrap .main-img-wrap li {
  width: 16.6666666667%;
}
.main-wrap .main-img-wrap li img {
  width: 100%;
}
.main-wrap .main-btn-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 30px;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.main-wrap .main-btn-wrap li {
  float: left;
  color: #ffffff;
  font-size: 14px;
}
.main-wrap .main-btn-wrap li i, .main-wrap .main-btn-wrap li span {
  color: #ffffff;
}
.main-wrap .main-btn-wrap li span {
  font-weight: 600;
}

.banner-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  width: 100%;
  height: 130px;
  margin: 6% auto;
  padding: 0 15px;
}
.banner-wrap .banner {
  width: 49%;
  height: 100%;
}
.banner-wrap .banner.left {
  background: url("../img/banner_img_1.jpg") no-repeat center/contain;
}
.banner-wrap .banner.right {
  background: url("../img/banner_img_2.jpg") no-repeat center/contain;
}

.time-deal-wrap {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.time-deal-wrap h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
}
.time-deal-wrap > p {
  font-size: 36px;
  color: #333333;
  letter-spacing: 2px;
}
.time-deal-wrap > p span {
  color: #333333;
  font-weight: 600;
  margin: 0 20px;
}
.time-deal-wrap .banner-wrap {
  width: 100%;
  height: 220px;
  margin: 0;
  margin-top: 35px;
}
.time-deal-wrap .banner-wrap .banner {
  display: flex;
  align-items: center;
  width: 49%;
}
.time-deal-wrap .banner-wrap .banner.left {
  background: none;
  background-color: #f4f4f4;
}
.time-deal-wrap .banner-wrap .banner.right {
  background: none;
  background-color: #f4f4f4;
}
.time-deal-wrap .banner-wrap .banner img {
  width: auto;
  height: 100%;
}
.time-deal-wrap .banner-wrap .banner .text-wrap {
  padding: 0 6%;
  text-align: left;
}
.time-deal-wrap .banner-wrap .banner .text-wrap .title {
  font-size: 22px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 20px;
}
.time-deal-wrap .banner-wrap .banner .text-wrap .cost {
  font-weight: 600;
  font-size: 26px;
  color: #333333;
}
.time-deal-wrap .banner-wrap .banner .text-wrap .cost .sale {
  color: #f37420;
  margin-left: 8px;
}
.time-deal-wrap .banner-wrap .banner .text-wrap .cost .original {
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 8px;
}

.best-new-wrap {
  position: relative;
  max-width: 1260px;
  width: 100%;
  height: auto;
  padding: 0 15px;
  margin: 6% auto;
  text-align: center;
}
.best-new-wrap h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
}
.best-new-wrap .product-wrap {
  position: relative;
  height: auto;
  margin-top: 55px;
}
.best-new-wrap .product-wrap .product-btn {
  padding: 3px 22px;
  border: 1px solid #999999;
  border-radius: 30px;
  color: #999999;
}
.best-new-wrap .product-wrap .product-btn.on {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #333333;
  font-weight: 600;
}
.best-new-wrap .product-wrap .product-btn:first-child {
  margin-right: 15px;
}
.best-new-wrap .product-wrap .product-list {
  display: none;
  margin-top: 45px;
  text-align: left;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.best-new-wrap .product-wrap .product-list li {
  width: 23%;
}
.best-new-wrap .product-wrap .product-list li img {
  display: inline-block;
  width: 100%;
}
.best-new-wrap .product-wrap .product-list li .info {
  font-size: 12px;
  height: 14px;
  overflow: hidden;
  margin: 20px 0 5px;
  color: #999999;
}
.best-new-wrap .product-wrap .product-list li .title {
  height: 40px;
  overflow: hidden;
}
.best-new-wrap .product-wrap .product-list li .cost {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  margin: 8px 0;
}
.best-new-wrap .product-wrap .product-list li .cost .sale {
  color: #f37420;
}
.best-new-wrap .product-wrap .product-list li .cost .original {
  font-size: 14px;
  text-decoration: line-through;
}
.best-new-wrap .product-wrap .product-list li .review {
  position: relative;
}
.best-new-wrap .product-wrap .product-list li .review span {
  display: inline-block;
  vertical-align: middle;
  width: 72px;
  height: 14px;
  margin-left: 10px;
  background: url("../img/pc_ico_dawn_txt.png") 0 0 no-repeat;
  background-size: 72px;
  text-indent: -9999px;
  overflow: hidden;
}
.best-new-wrap .product-wrap .product-list li .btn {
  font-size: 12px;
  color: #ffffff;
  padding: 3px 8px;
  margin-top: 8px;
}
.best-new-wrap .product-wrap .product-list li .btn.new {
  background-color: #007aff;
}
.best-new-wrap .product-wrap .product-list li .btn.best {
  background-color: #f37420;
}
.best-new-wrap .product-wrap .product-list li .btn.gift {
  background-color: #d477c8;
}
.best-new-wrap .product-wrap .product-list.on {
  display: flex;
}
.best-new-wrap .product-wrap .product-list > li {
  margin-bottom: 80px;
}
.best-new-wrap .product-wrap .product-list > li a {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.best-new-wrap .product-wrap .product-list > li a img {
  width: auto;
  height: 360px;
  margin-left: -70px;
}
.best-new-wrap .product-wrap .product-list > li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: url("../img/coupon_img.png") no-repeat center/cover;
}
.best-new-wrap .product-wrap .product-list > li a .cost .original {
  font-weight: 400;
}
.best-new-wrap .product-wrap .product-list .more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 470px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #cccccc;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.keyword-wrap {
  position: relative;
  max-width: 1260px;
  width: 100%;
  height: auto;
  padding: 0 15px;
  margin: 7% auto;
  text-align: center;
}
.keyword-wrap h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
  margin-bottom: 55px;
}
.keyword-wrap .keyword-list {
  display: flex;
  justify-content: space-between;
}
.keyword-wrap .keyword-list li {
  width: 11%;
  height: 11%;
}
.keyword-wrap .keyword-list li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.keyword-wrap .keyword-list li a img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.keyword-wrap .keyword-list li a h4 {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
  color: #777777;
}

.banner-wrap.event {
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 0;
}
.banner-wrap.event h3 {
  text-align: center;
  width: 100%;
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
  margin-bottom: 55px;
}
.banner-wrap.event .banner {
  width: 49%;
  height: 160px;
}
.banner-wrap.event .banner.left {
  background: url("../img/event_img_1.jpg") right center no-repeat;
}
.banner-wrap.event .banner.left p {
  color: #ffffff;
}
.banner-wrap.event .banner.right {
  background: url("../img/event_img_2.jpg") right center no-repeat;
}
.banner-wrap.event .banner.right p {
  color: #0d0d0d;
}
.banner-wrap.event .banner p {
  padding: 0 40px;
  font-size: 1.3vw;
  line-height: 33px;
  font-weight: 600;
}
.banner-wrap.event .banner p:first-child {
  margin-top: 50px;
}

.online-wrap {
  position: relative;
  width: 100%;
  height: 820px;
  padding: 105px 0 115px;
  margin-top: 40px;
  text-align: center;
  background-color: #f4f4f4;
}
.online-wrap .online-inner {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 1260px;
  height: 100%;
  position: absolute;
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}
.online-wrap .online-inner.on {
  opacity: 1;
  visibility: visible;
}
.online-wrap .online-inner h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
  margin-bottom: 55px;
}
.online-wrap .online-inner .online-list {
  display: flex;
  justify-content: space-between;
}
.online-wrap .online-inner .online-list li {
  width: 31.5%;
}
.online-wrap .online-inner .online-list li a {
  display: inline-block;
  width: 100%;
  height: 102%;
  background-color: #ffffff;
}
.online-wrap .online-inner .online-list li a img {
  display: inline-block;
  width: 100%;
}
.online-wrap .online-inner .online-list li a h4 {
  font-size: 25px;
  color: #0d0d0d;
  font-weight: 700;
  margin: 25px 0 5px;
}
.online-wrap .online-inner .online-list li a p {
  font-size: 20px;
  color: #0d0d0d;
  margin-bottom: 20px;
}
.online-wrap .btn-wrap {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.online-wrap .btn-wrap button {
  position: relative;
  font-size: 17px;
  color: #999999;
  margin: 0 15px;
}
.online-wrap .btn-wrap button.on {
  font-weight: 600;
  color: #333333;
}
.online-wrap .btn-wrap button:first-child::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 26px;
  width: 1px;
  height: 17px;
  background-color: #999999;
}

.popular-wrap {
  position: relative;
  max-width: 1260px;
  width: 100%;
  height: auto;
  padding: 0 15px;
  margin: 6% auto;
  text-align: center;
}
.popular-wrap h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
}
.popular-wrap .product-wrap {
  position: relative;
  height: auto;
  margin-top: 55px;
}
.popular-wrap .product-wrap .btn-wrap {
  width: 100%;
  height: 60px;
  border: 1px solid #dcdcdc;
}
.popular-wrap .product-wrap .btn-wrap li {
  width: 16.6666666667%;
  height: 60px;
  line-height: 60px;
  float: left;
  font-size: 22px;
  color: #111111;
  font-weight: 600;
  cursor: pointer;
}
.popular-wrap .product-wrap .btn-wrap li.on {
  background-color: #111111;
  color: #ffffff;
}
.popular-wrap .product-wrap .btn-wrap li:not(:first-child) {
  border-left: 1px solid #dcdcdc;
}
.popular-wrap .product-wrap .product-list {
  display: none;
  margin-top: 45px;
  text-align: left;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.popular-wrap .product-wrap .product-list li {
  width: 23%;
}
.popular-wrap .product-wrap .product-list li img {
  display: inline-block;
  width: 100%;
}
.popular-wrap .product-wrap .product-list li .info {
  font-size: 12px;
  height: 14px;
  overflow: hidden;
  margin: 20px 0 5px;
  color: #999999;
}
.popular-wrap .product-wrap .product-list li .title {
  height: 40px;
  overflow: hidden;
}
.popular-wrap .product-wrap .product-list li .cost {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  margin: 8px 0;
}
.popular-wrap .product-wrap .product-list li .cost .sale {
  color: #f37420;
}
.popular-wrap .product-wrap .product-list li .cost .original {
  font-size: 14px;
  text-decoration: line-through;
}
.popular-wrap .product-wrap .product-list li .review {
  position: relative;
}
.popular-wrap .product-wrap .product-list li .review span {
  display: inline-block;
  vertical-align: middle;
  width: 72px;
  height: 14px;
  margin-left: 10px;
  background: url("../img/pc_ico_dawn_txt.png") 0 0 no-repeat;
  background-size: 72px;
  text-indent: -9999px;
  overflow: hidden;
}
.popular-wrap .product-wrap .product-list li .btn {
  font-size: 12px;
  color: #ffffff;
  padding: 3px 8px;
  margin-top: 8px;
}
.popular-wrap .product-wrap .product-list li .btn.new {
  background-color: #007aff;
}
.popular-wrap .product-wrap .product-list li .btn.best {
  background-color: #f37420;
}
.popular-wrap .product-wrap .product-list li .btn.gift {
  background-color: #d477c8;
}
.popular-wrap .product-wrap .product-list.on {
  display: flex;
}
.popular-wrap .product-wrap .product-list > li {
  margin-bottom: 80px;
}
.popular-wrap .product-wrap .product-list > li a {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.popular-wrap .product-wrap .product-list > li a img {
  width: auto;
  height: 360px;
  margin-left: -40px;
}
.popular-wrap .product-wrap .product-list > li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: url("../img/coupon_img_10.png") no-repeat center/cover;
}
.popular-wrap .product-wrap .product-list > li a .cost .original {
  font-weight: 400;
}
.popular-wrap .product-wrap .product-list .more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 470px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #cccccc;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.comment-wrap {
  position: relative;
  width: 100%;
  height: auto;
  margin: 6% auto;
  text-align: center;
}
.comment-wrap h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
}
.comment-wrap .img-wrap {
  padding: 50px 0;
  display: block;
  width: 100%;
  height: 180px;
  background: url("../img/new_product_bg.jpg") no-repeat center;
}
.comment-wrap .img-wrap h4 {
  font-size: 2.2em;
  top: 50%;
  color: #0d0d0d;
}
.comment-wrap .img-wrap .apply {
  margin-top: 15px;
  cursor: pointer;
  padding: 3px 30px;
  border: 1px solid #000000;
  font-size: 18px;
  color: #0d0d0d;
}

.tv-wrap {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 6%;
  text-align: center;
}
.tv-wrap h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
}
.tv-wrap .inner {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  height: 580px;
  margin-top: 55px;
  margin: 0 auto;
  padding: 0 15px;
}
.tv-wrap .inner .tv-left {
  width: 70%;
  height: 100%;
  background: url("../img/video_bg_1.jpg") no-repeat center/cover;
  cursor: pointer;
}
.tv-wrap .inner .tv-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28%;
  height: 100%;
}
.tv-wrap .inner .tv-right > div {
  position: relative;
  width: 100%;
  height: 32%;
  background-color: #ffffff;
  cursor: pointer;
}
.tv-wrap .inner .tv-right > div::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: url("../img/m_play_icon.png") no-repeat center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
.tv-wrap .inner .tv-right > div.tv-1 {
  background: url("../img/video_bg_2.jpg") no-repeat center/cover;
}
.tv-wrap .inner .tv-right > div.tv-2 {
  background: url("../img/video_bg_3.jpg") no-repeat center/cover;
}
.tv-wrap .inner .tv-right > div.tv-3 {
  background: url("../img/video_bg_4.jpg") no-repeat center/cover;
}

.review-wrap {
  position: relative;
  width: 100%;
  height: 1165px;
  padding-top: 110px;
  margin: 0 auto;
  text-align: center;
}
.review-wrap h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
}
.review-wrap .review-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  background-color: #f4f4f4;
  padding-top: 110px;
}
.review-wrap .review-top .review-inner {
  position: relative;
  max-width: 1260px;
  height: 100%;
  margin: 0 auto;
}
.review-wrap .review-top .review-inner .review-list {
  padding: 0 15px;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.review-wrap .review-top .review-inner .review-list li {
  position: relative;
  width: 32%;
  height: 624px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.review-wrap .review-top .review-inner .review-list li::after {
  content: "abce***";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 5;
  transform: translateX(-50%) translateY(-20%);
  background-color: #f4f4f4;
  border: 5px solid #ffffff;
  border-radius: 50%;
}
.review-wrap .review-top .review-inner .review-list li a {
  display: inline-block;
  width: 100%;
}
.review-wrap .review-top .review-inner .review-list li a .img-box {
  width: 100%;
  height: 340px;
  overflow: hidden;
}
.review-wrap .review-top .review-inner .review-list li a .img-box img {
  width: 100%;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box {
  padding: 60px 25px 25px 25px;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box h4 {
  color: #333333;
  font-weight: 600;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box > p {
  width: 100%;
  height: 2.6em;
  font-size: 14px;
  line-height: 1.3;
  margin: 10px 0 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box .item-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box .item-box .item-txt {
  width: 50%;
  margin: 0 10px;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box .item-box .item-txt h5 {
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  height: 2.6em;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box .item-box .item-txt .cost {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  margin: 8px 0;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box .item-box .item-txt .cost .sale {
  color: #f37420;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box .item-box .item-txt .cost .original {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.review-wrap .review-top .review-inner .review-list li a .txt-box .item-box .item-btn {
  width: 18%;
  display: flex;
  justify-content: space-between;
}
.review-wrap .review-bottom {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
.review-wrap .review-bottom .review-slide {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.review-wrap .review-bottom .review-slide button {
  width: 3%;
}
.review-wrap .review-bottom .review-slide button i {
  font-size: 30px;
  color: #999999;
}
.review-wrap .review-bottom .review-slide .slide-wrap {
  width: 94%;
  height: 216px;
  overflow: hidden;
}
.review-wrap .review-bottom .review-slide .slide-wrap ul {
  width: 350%;
}
.review-wrap .review-bottom .review-slide .slide-wrap ul li {
  float: left;
  width: 13.2857142857%;
  height: 216px;
  padding: 30px;
  margin: 0 0.5%;
  background-color: #f4f4f4;
}
.review-wrap .review-bottom .review-slide .slide-wrap ul li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.review-wrap .review-bottom .review-slide .slide-wrap ul li a img {
  display: inline-block;
  height: 156px;
}
.review-wrap .review-bottom .review-slide .slide-wrap ul li a .txtbox {
  text-align: left;
  padding: 20px;
  height: 156px;
}
.review-wrap .review-bottom .review-slide .slide-wrap ul li a .txtbox .title {
  font-size: 18px;
  color: #333333;
  font-weight: 400;
}
.review-wrap .review-bottom .review-slide .slide-wrap ul li a .txtbox .txt {
  margin: 12px 0;
  font-size: 16px;
  height: 3.6em;
  -webkit-line-clamp: 3;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.review-wrap .review-bottom .more {
  display: inline-block;
  width: 470px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #cccccc;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  margin-top: 30px;
}

.insta-wrap {
  position: relative;
  width: 100%;
  height: 16vw;
  margin: 6% auto;
  text-align: center;
}
.insta-wrap h3 {
  font-size: 34px;
  color: #333333;
  margin-bottom: 25px;
  margin-bottom: 55px;
}
.insta-wrap .insta-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.insta-wrap .insta-slide ul {
  width: 100%;
  height: 100%;
}
.insta-wrap .insta-slide ul li {
  float: left;
  width: 9%;
  height: 9vw;
  margin: 0 0.5%;
  background-color: #f4f4f4;
  overflow: hidden;
}
.insta-wrap .insta-slide ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.insta-wrap .insta-slide ul li a img {
  width: auto;
  height: 100%;
}

.footer-wrap {
  width: 100%;
  height: 430px;
  padding: 50px 0;
  background-color: #121212;
}
.footer-wrap .footer-inner {
  max-width: 1260px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.footer-wrap .footer-inner .footer-left {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-wrap .footer-inner .footer-left .footer-menu {
  width: 100%;
}
.footer-wrap .footer-inner .footer-left .footer-menu li {
  float: left;
  margin-right: 35px;
}
.footer-wrap .footer-inner .footer-left .footer-menu li a {
  color: #ffffff;
  line-height: 1.5;
}
.footer-wrap .footer-inner .footer-left .footer-info {
  width: 100%;
  float: left;
}
.footer-wrap .footer-inner .footer-left .footer-info li {
  width: 100%;
  height: 25px;
  color: #999999;
  font-size: 14px;
}
.footer-wrap .footer-inner .footer-left .footer-info li:last-child {
  margin: 15px 0;
}
.footer-wrap .footer-inner .footer-left .footer-banner {
  width: 100%;
  height: auto;
  float: left;
  display: flex;
  align-items: center;
}
.footer-wrap .footer-inner .footer-left .footer-banner li {
  float: left;
  height: 55px;
  margin-right: 20px;
}
.footer-wrap .footer-inner .footer-left .footer-banner li a img {
  height: 100%;
}
.footer-wrap .footer-inner .footer-left .footer-banner li:nth-child(3), .footer-wrap .footer-inner .footer-left .footer-banner li:nth-child(4) {
  height: 25px;
}
.footer-wrap .footer-inner .footer-middle {
  width: 20%;
}
.footer-wrap .footer-inner .footer-middle .phone .title {
  color: #b2b2b2;
}
.footer-wrap .footer-inner .footer-middle .phone .number {
  color: #cccccc;
  font-size: 32px;
  line-height: 1.6;
}
.footer-wrap .footer-inner .footer-middle .time p {
  width: 65%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.6;
  color: #999999;
}
.footer-wrap .footer-inner .footer-middle .time p span {
  font-size: 14px;
  color: #999999;
}
.footer-wrap .footer-inner .footer-right {
  position: relative;
  width: 12%;
  font-size: 14px;
}
.footer-wrap .footer-inner .footer-right .title {
  position: relative;
  width: 100%;
  height: 45px;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
  font-weight: 400;
  padding: 12px 0 0 10px;
  cursor: pointer;
}
.footer-wrap .footer-inner .footer-right .title::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  width: 25px;
  height: 15px;
  background: url("../img/mb_arrow_type1.png") no-repeat center/contain;
}
.footer-wrap .footer-inner .footer-right .option {
  display: none;
  width: 100%;
  position: absolute;
  top: 45px;
  background-color: #ffffff;
  padding: 5px 0;
}
.footer-wrap .footer-inner .footer-right .option.on {
  display: block;
}
.footer-wrap .footer-inner .footer-right .option li a {
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  transition: all 0.3s;
}
.footer-wrap .footer-inner .footer-right .option li a:hover {
  background-color: #121212;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */