@import '_variable';

@media screen and (max-width:1024px){
    .header-wrap {
        margin-bottom: 40px;
        .top {
          height: 50px;
          justify-content: space-between;
          h1 {
            width: 25%;
            min-width: 150px;
            img {
                width: 100%;
                display: block;
            }
          }
          > a {
            opacity: 1;
            visibility: visible;
          }
        }
        .bottom {
            height: auto;
            h3 {
                display: block;
            }
            .inner {
                display: none;
            }
        }
    }

    .contents-wrap {
        .welcome-banner {
            width: 100%;
            height: 80vw;
            margin-bottom: 20px;
            background-position: top center;
        }
        .sign-up-wrap {
            width: 100%;
            padding: 0 15px;
            h2 {
                display: none;
            }
            .kakao {
                max-width: 500px;
                width: 100%;
            }
            .line {
                width: 100%;
                &::after {
                    width: 100%;
                }
            }
            .order {
                width: 100%;
                li {
                    width: 15%;
                    margin: 0 5vw;
                }
            }
            form {
                width: 100%;
            }
            .info-msg {
                width: 100%;
            }
            .alert-box {
                width: 100%;
                padding: 20px;
                margin: 20px 0 40px;
            }
        }
    }
}